@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
    margin: 0px;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-image: url(https://lolstatic-a.akamaihd.net/rso-login-page/3.2.36/assets/arcane_dsktp_centerAlignedCrd_BG_2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    min-height: 100vh;
    max-width: 100vw;
}

header svg{
    fill: #f9f9f9;
    height: 45px;
    margin: 35px 35px;
}

main {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10%;
}

span {
    display: block;
    font-size: 10px;
    align-self: center;
    color: rgb(218, 19, 19);
}

.conteudo{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-evenly;
}

main{
    background-color: #f9f9f9;
    padding: 5%;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

.blog{
    width: 100%;
}

.main-head{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.erro{
    border: solid 3px rgb(218, 19, 19);
}

#novo-post{
    background-color: rgb(218, 19, 19);
    padding: 1% 2%;
    color: #f9f9f9;
    border-radius: 5px;
}

#novo-post:hover{
    background-color: rgb(195, 19, 19);
}

.post{
    width: 100%;
    padding: 3% 0%;
    word-wrap: break-word;
}

.post div{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5% 0% 0% 0%;
}

.post h2{
    font-size: 28px;
}

.post img{
    width: 70%;
    align-self: center;
    margin: 5% 0%;
}

.search{
    display: flex;
    flex-direction: row;
}

.search input{  
    background-color: #ededed;
    padding: 2% 10% 2% 5%;
    border-radius: 5px;
}

.search input:hover{
    background-color: #e7e6e6;
}

.search img{
    margin-left: -10%;
    width: 8%;
}

dialog{
    display: none;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    font-size: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
}

dialog #postTitle, #tituloEditar{
    border-radius: 5px;
    background-color: #ededed;
    padding: 3%;
    margin: 2%;
}

dialog #postImage, #imagemEditar{
    margin: 0% 2%;
}

.imagem-insert{
    font-size: 18px;
    margin: 2% 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

dialog textarea{
    margin: 2% 0% 2% 2%;
    border-radius: 5px;
    background-color: #ededed;
    padding: 2% 4%;
    resize: none;
    width: 95.8%;
}

dialog button{
    background-color: rgb(218, 19, 19);
    color: #f9f9f9;
    padding: 1% 2%;
    border-radius: 5px;
    width: 30%;
    align-self: center;
}

#dialogEditar button{
    margin: 0.5%;
}

.botoes{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

dialog button:hover{
    background-color: rgb(195, 19, 19);
}

dialog h2{
    margin: 2% 4%;
    font-weight:600;
    font-size: 24px;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

div.button-div{
    display: flex;
    flex-direction: row;
}

.button-div button{
    margin-right: 1%;
    background-color: rgb(218, 19, 19);
    height: 2rem;
    width: 2rem;
    border-radius: 5px;
}

.button-div button:hover{
    background-color: rgb(195, 19, 19);
}

.conteudo-login {
    height: 100%;
    max-height: 800px;
    width: 80%;
    max-width: 480px;
    padding: 5rem 3rem 2rem 3rem;
    background-color: #f9f9f9;
    border-radius: 3px;
}

.dados {
    font-size: 14px;
    font-weight: 700;
    background-color: #ededed;
    width: 100%;
    height: 4rem;
    margin-bottom: 1rem;
    text-indent: 5%;
    border-radius: 5px;
}

.dados:focus{
    background-color: #f9f9f9;
}

.dados:hover{
    background-color: #e7e6e6;
}


.button-conteiner button {
    color: #ededed;
    border: 2px solid;
    border-color: #ededed;
    border-radius: 15px;
    background-color: #f9f9f9;
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC4yNzI3IDEwTDAuNSAxMEwwLjUgOEwxNC4yNzI1IDhMOC41MTM0NSAxLjcyNDk2TDkuODY1NzkgMC4yNTE0NjVMMTcuMjE4OSA4LjI2MzMzQzE3LjU5MjMgOC42NzAyMiAxNy41OTIzIDkuMzI5OTMgMTcuMjE4OSA5LjczNjgyTDkuODY1NzkgMTcuNzQ4N0w4LjUxMzQ1IDE2LjI3NTJMMTQuMjcyNyAxMFoiIGZpbGw9IiNFOEU4RTgiLz4KPC9zdmc+Cg==);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 5rem;
    margin: 10% 0%;
    cursor: pointer;
}

.redes-sociais {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 15px;
}

.social-box{
    border-radius: 5px;
    width: 5rem;
    height: 2.5rem;
}

.facebook {
    background-color: #226fc5;
    padding: 0.5rem;
}

.facebook:hover {
    background-color: #1e5fa8;
}

.google {
    background-color: white;
    padding: 0.5rem;
    border: 1px solid #ededed;
}

.google:hover {
    background-color: rgb(236, 235, 235);
}

.apple {
    background-color: #000000;
    padding: 0.6rem 1.8rem;
}

.apple:hover {
    background-color: rgb(27, 27, 27);
}

.microsoft {
    background-color: #107c10;
    padding: 0.5rem;
}

.microsoft:hover {
    background-color: #0e660e;
}

.links{
    font-size: 12px;
    text-align: center;
    font-weight: 700;
}

.links a{
    text-decoration: none;
    color: #707070;
}

.button-conteiner {
    display: flex;
    justify-content: center;
}

a:hover {
    color: #000000;
}

footer {
    padding-left: 3%;
    margin-bottom: 2%;
    margin-top: 4%;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

footer a {
    opacity: 70%;
    color: white;
    text-decoration: none;
}

footer p {
    font-size: 10px;
    opacity: 70%;
    margin: 10px 0px;
}

footer a:hover {
    color: white;
    opacity: 90%;
}

.link-github{
    opacity: 100%;
}

footer .footer-mobile{
    display: none;
}

select {
    font-weight: 700;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    border: solid rgba(255, 255, 255, 0.0);
    border-width: 2px;
    border-radius: 10px;
    height: 30px;
    text-indent: 5px;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox input + label:before{
    content: '';
    width: 18px;
    height: 18px;
    background-color: #ededed;
    display: inline-block;
    border: 1px solid #ededed;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 3px;
}

.custom-checkbox input:checked + label:before {
    background-color: rgb(218, 19, 19);
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    header{
        display: flex;
        justify-content: center;
    }
    .conteudo {
        height: 100%;
        width: 95%;
        padding: 3rem 1.5rem 2rem 1.5rem;
    }
    h1{
        font-size: 18px;
    }
    .social-box{
        width: 3.5rem;
        height: 2.5rem;
    }
    .apple {
        background-color: #000000;
        padding: 0.5rem 1rem;
    }
    .dados {
        font-size: 10px;
        width: 100%;
        height: 4rem;
    }
    header img{
        height: 45px;
        margin: 15px 30px;
    }
    footer{
        font-size: 10px;
        text-align: center;
    }
    footer p {
        font-size: 8px
    }
    header img{
        height: 45px;
        margin: 15px 30px;
    }
    footer .footer-desktop{
        display: none;
    }
    footer .footer-mobile{
        display: block;
    }

    select{
        margin: 1rem;
    }
}

